{
  "openapi": "3.0.3",
  "info": {
    "title": "Cursor Cloud Agents API",
    "version": "1.0.0",
    "description": "Cursor Cloud Agents API connector for WRITER Agent. Enables WRITER Agent to programmatically launch and manage Cursor cloud agents that implement code changes, fix CI failures, and run code-review passes. This connector wraps the Cursor Cloud Agents API v1 (public beta). Authentication uses a Cursor API key (Bearer token). Generate a key from Cursor Dashboard -> API Keys."
  },
  "servers": [
    {
      "url": "https://api.cursor.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Cursor API key from Cursor Dashboard -> API Keys. Pass as: Authorization: Bearer YOUR_API_KEY"
      }
    },
    "schemas": {
      "Image": {
        "type": "object",
        "description": "An image input. Provide exactly one of data or url.",
        "properties": {
          "data": {
            "type": "string",
            "minLength": 1,
            "description": "Base64-encoded image bytes (max 15 MB). Mutually exclusive with url."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "HTTP or HTTPS URL Cursor fetches. Mutually exclusive with data."
          },
          "mimeType": {
            "type": "string",
            "minLength": 1,
            "description": "MIME type. Required when data is provided; omit when url is provided. Supported: image/png, image/jpeg, image/gif, image/webp."
          }
        }
      },
      "Prompt": {
        "type": "object",
        "required": ["text"],
        "properties": {
          "text": {
            "type": "string",
            "minLength": 1,
            "description": "The instruction text for the agent."
          },
          "images": {
            "type": "array",
            "maxItems": 5,
            "description": "Optional image inputs. Maximum 5 images, 15 MB each.",
            "items": { "$ref": "#/components/schemas/Image" }
          }
        }
      },
      "ModelRef": {
        "type": "object",
        "required": ["id"],
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "description": "Explicit model ID returned by GET /v1/models. Omit model from the request to use the configured default.",
            "example": "composer-2"
          },
          "params": {
            "type": "array",
            "description": "Per-model parameters such as reasoning effort or max mode.",
            "items": {
              "type": "object",
              "required": ["id", "value"],
              "properties": {
                "id": { "type": "string", "minLength": 1, "example": "thinking" },
                "value": { "type": "string", "minLength": 1, "example": "high" }
              }
            }
          }
        }
      },
      "RepoConfig": {
        "type": "object",
        "required": ["url"],
        "properties": {
          "url": {
            "type": "string",
            "minLength": 1,
            "description": "GitHub repository URL.",
            "example": "https://github.com/theonlygeranium/vinifera"
          },
          "startingRef": {
            "type": "string",
            "minLength": 1,
            "description": "Branch name or commit SHA to use as the starting point. Ignored when prUrl is provided.",
            "example": "dev"
          },
          "prUrl": {
            "type": "string",
            "format": "uri",
            "description": "GitHub pull request URL. When provided, the agent works on this PR's repository and branches; startingRef is ignored. url must still be set.",
            "example": "https://github.com/theonlygeranium/vinifera/pull/310"
          }
        }
      },
      "AgentEnv": {
        "type": "object",
        "required": ["type"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["cloud", "pool", "machine"],
            "description": "Execution environment type. cloud uses Cursor-hosted VMs; pool and machine route to self-hosted workers.",
            "example": "cloud"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Named Cursor-hosted environment, self-hosted pool, or self-hosted machine name."
          }
        }
      },
      "McpAuth": {
        "type": "object",
        "additionalProperties": false,
        "required": ["CLIENT_ID"],
        "properties": {
          "CLIENT_ID": { "type": "string", "minLength": 1, "description": "OAuth client ID for the MCP server." },
          "CLIENT_SECRET": { "type": "string", "description": "OAuth client secret for the MCP server." },
          "scopes": {
            "type": "array",
            "description": "OAuth scopes to request for the MCP server.",
            "items": { "type": "string", "minLength": 1 }
          }
        }
      },
      "StdioMcpServer": {
        "type": "object",
        "additionalProperties": false,
        "required": ["name", "command"],
        "properties": {
          "name": { "type": "string", "minLength": 1, "description": "MCP server name exposed to the agent." },
          "type": { "type": "string", "enum": ["stdio"], "description": "Stdio MCP server." },
          "command": { "type": "string", "minLength": 1, "description": "Command to start inside the cloud agent VM." },
          "args": { "type": "array", "description": "Command arguments.", "items": { "type": "string" } },
          "env": {
            "type": "object",
            "description": "Environment variables passed to the stdio MCP server inside the VM.",
            "additionalProperties": { "type": "string" }
          }
        }
      },
      "RemoteMcpServer": {
        "type": "object",
        "additionalProperties": false,
        "required": ["name", "url"],
        "properties": {
          "name": { "type": "string", "minLength": 1, "description": "MCP server name exposed to the agent." },
          "type": { "type": "string", "enum": ["http", "sse"], "description": "Remote MCP transport." },
          "url": { "type": "string", "format": "uri", "description": "HTTP or HTTPS URL for the remote MCP server." },
          "headers": {
            "type": "object",
            "description": "Headers Cursor sends with every request to the remote MCP server.",
            "additionalProperties": { "type": "string" }
          },
          "auth": { "$ref": "#/components/schemas/McpAuth" }
        }
      },
      "McpServer": {
        "oneOf": [
          { "$ref": "#/components/schemas/StdioMcpServer" },
          { "$ref": "#/components/schemas/RemoteMcpServer" }
        ]
      },
      "CustomSubagent": {
        "type": "object",
        "additionalProperties": false,
        "required": ["name", "description", "prompt"],
        "properties": {
          "name": { "type": "string", "minLength": 1, "maxLength": 100, "description": "Subagent name. Must be unique and cannot collide with built-ins." },
          "description": { "type": "string", "minLength": 1, "maxLength": 1000, "description": "Short summary used by the main agent to decide when to delegate." },
          "prompt": { "type": "string", "minLength": 1, "maxLength": 8192, "description": "System prompt the subagent receives when invoked." },
          "model": {
            "description": "Model selection for the subagent.",
            "oneOf": [
              { "type": "string", "enum": ["inherit"], "description": "Use the parent agent's model selection." },
              { "type": "string", "minLength": 1, "description": "An explicit model ID." },
              { "$ref": "#/components/schemas/ModelRef" }
            ]
          }
        }
      },
      "AgentMode": {
        "type": "string",
        "enum": ["agent", "plan"],
        "description": "Conversation mode. plan explores and drafts a plan before coding; agent implements changes directly."
      },
      "AgentSummary": {
        "type": "object",
        "required": ["id", "status", "env", "url", "createdAt", "updatedAt"],
        "properties": {
          "id": { "type": "string", "description": "Unique agent identifier.", "example": "bc-00000000-0000-0000-0000-000000000001" },
          "name": { "type": "string", "description": "Display name. Auto-derived from the prompt when not supplied." },
          "status": { "type": "string", "enum": ["ACTIVE", "ARCHIVED"], "description": "Agent lifecycle state." },
          "env": { "$ref": "#/components/schemas/AgentEnv" },
          "url": { "type": "string", "format": "uri", "description": "URL to view the agent in Cursor Web." },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" },
          "latestRunId": { "type": "string", "description": "ID of the most recent run on this agent, if any." }
        }
      },
      "Agent": {
        "allOf": [
          { "$ref": "#/components/schemas/AgentSummary" },
          {
            "type": "object",
            "properties": {
              "repos": {
                "type": "array",
                "description": "Repository configuration. Empty for no-repo agents.",
                "items": { "$ref": "#/components/schemas/RepoConfig" }
              },
              "workOnCurrentBranch": { "type": "boolean", "description": "When false (default), Cursor pushes to a new auto-generated branch. When true, commits land on the existing head branch.", "example": false },
              "autoCreatePR": { "type": "boolean", "description": "Whether Cursor opens a pull request when the run completes.", "example": true },
              "skipReviewerRequest": { "type": "boolean", "description": "Whether to skip requesting the user as a reviewer when Cursor opens a PR." },
              "customSubagents": {
                "type": "array",
                "description": "Custom subagents defined at create time.",
                "items": { "$ref": "#/components/schemas/CustomSubagent" }
              }
            }
          }
        ]
      },
      "RunGitBranch": {
        "type": "object",
        "required": ["repoUrl"],
        "properties": {
          "repoUrl": { "type": "string", "minLength": 1, "description": "Repository URL the agent pushed to (without scheme).", "example": "github.com/theonlygeranium/vinifera" },
          "branch": { "type": "string", "minLength": 1, "description": "Branch name the agent pushed.", "example": "cursor/add-readme-a1b2" },
          "prUrl": { "type": "string", "format": "uri", "description": "Pull request URL, when Cursor opened a PR.", "example": "https://github.com/theonlygeranium/vinifera/pull/123" }
        }
      },
      "RunGit": {
        "type": "object",
        "required": ["branches"],
        "properties": {
          "branches": {
            "type": "array",
            "description": "Branches the agent has pushed.",
            "items": { "$ref": "#/components/schemas/RunGitBranch" }
          }
        }
      },
      "Run": {
        "type": "object",
        "required": ["id", "agentId", "status", "createdAt", "updatedAt"],
        "properties": {
          "id": { "type": "string", "description": "Unique run identifier.", "example": "run-00000000-0000-0000-0000-000000000001" },
          "agentId": { "type": "string", "description": "ID of the agent this run belongs to." },
          "status": {
            "type": "string",
            "enum": ["CREATING", "RUNNING", "FINISHED", "ERROR", "CANCELLED", "EXPIRED"],
            "description": "Current run status. Only one run can be active per agent."
          },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" },
          "durationMs": { "type": "integer", "minimum": 0, "description": "Wall-clock duration in milliseconds. Populated for terminal runs." },
          "result": { "type": "string", "minLength": 1, "description": "Final assistant reply text. Populated for terminal runs." },
          "git": { "allOf": [{ "$ref": "#/components/schemas/RunGit" }], "description": "The agent's pushed branches and PRs. Populated once the agent has pushed at least one branch." }
        }
      },
      "CreateAgentRequest": {
        "type": "object",
        "required": ["prompt"],
        "properties": {
          "prompt": { "$ref": "#/components/schemas/Prompt" },
          "model": { "$ref": "#/components/schemas/ModelRef" },
          "name": { "type": "string", "minLength": 1, "maxLength": 100, "description": "Display name for the agent. Auto-derived from the prompt when omitted." },
          "agentId": {
            "type": "string",
            "minLength": 1,
            "pattern": "^bc-[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "description": "Optional client-supplied agent identifier in bc-<uuid> form. Cannot be combined with envVars."
          },
          "env": { "$ref": "#/components/schemas/AgentEnv" },
          "repos": {
            "type": "array",
            "maxItems": 20,
            "description": "Repository configuration. Mutually exclusive with a named cloud environment.",
            "items": { "$ref": "#/components/schemas/RepoConfig" }
          },
          "workOnCurrentBranch": { "type": "boolean", "default": false, "description": "When false (default), Cursor pushes to a new auto-generated branch. When true, commits land on the existing head branch." },
          "autoCreatePR": { "type": "boolean", "default": false, "description": "Whether Cursor opens a pull request when the run completes." },
          "skipReviewerRequest": { "type": "boolean", "default": false, "description": "Whether to skip requesting the user as a reviewer when Cursor opens a PR." },
          "envVars": {
            "type": "object",
            "maxProperties": 50,
            "description": "Session-scoped environment variables for the cloud agent. Encrypted at rest, injected into the shell, deleted with the agent. Names must be non-empty, 255 bytes or less, cannot start with CURSOR_. Cannot be combined with a client-supplied agentId.",
            "additionalProperties": { "type": "string", "minLength": 1, "maxLength": 4096 }
          },
          "mcpServers": {
            "type": "array",
            "maxItems": 50,
            "description": "Inline MCP server definitions available to the initial run.",
            "items": { "$ref": "#/components/schemas/McpServer" }
          },
          "customSubagents": {
            "type": "array",
            "maxItems": 20,
            "description": "Custom subagents the main agent can delegate to.",
            "items": { "$ref": "#/components/schemas/CustomSubagent" }
          },
          "mode": { "allOf": [{ "$ref": "#/components/schemas/AgentMode" }], "default": "agent", "description": "Initial conversation mode for the agent's first run." }
        }
      },
      "CreateRunRequest": {
        "type": "object",
        "required": ["prompt"],
        "properties": {
          "prompt": { "$ref": "#/components/schemas/Prompt" },
          "mcpServers": {
            "type": "array",
            "maxItems": 50,
            "description": "Inline MCP server definitions for this follow-up run. Replaces create-time inline MCP servers for this run.",
            "items": { "$ref": "#/components/schemas/McpServer" }
          },
          "mode": { "$ref": "#/components/schemas/AgentMode" }
        }
      },
      "CreateAgentResponse": {
        "type": "object",
        "required": ["agent", "run"],
        "properties": {
          "agent": { "$ref": "#/components/schemas/Agent" },
          "run": { "$ref": "#/components/schemas/Run" }
        }
      },
      "CreateRunResponse": {
        "type": "object",
        "required": ["run"],
        "properties": {
          "run": { "$ref": "#/components/schemas/Run" }
        }
      },
      "ListAgentsResponse": {
        "type": "object",
        "required": ["items"],
        "properties": {
          "items": {
            "type": "array",
            "description": "Agents, newest first.",
            "items": { "$ref": "#/components/schemas/AgentSummary" }
          },
          "nextCursor": {
            "type": "string",
            "minLength": 1,
            "description": "Cursor for fetching the next page. Omitted when there are no more pages."
          }
        }
      },
      "ListRunsResponse": {
        "type": "object",
        "required": ["items"],
        "properties": {
          "items": {
            "type": "array",
            "description": "Runs for this agent, newest first.",
            "items": { "$ref": "#/components/schemas/Run" }
          },
          "nextCursor": {
            "type": "string",
            "minLength": 1,
            "description": "Cursor for fetching the next page. Omitted when there are no more pages."
          }
        }
      },
      "IdResponse": {
        "type": "object",
        "required": ["id"],
        "properties": {
          "id": { "type": "string", "description": "Identifier of the affected resource." }
        }
      },
      "Artifact": {
        "type": "object",
        "required": ["path", "sizeBytes", "updatedAt"],
        "properties": {
          "path": { "type": "string", "minLength": 1, "description": "Artifact path relative to the workspace's artifacts/ directory." },
          "sizeBytes": { "type": "integer", "minimum": 0, "description": "File size in bytes." },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "ListArtifactsResponse": {
        "type": "object",
        "required": ["items"],
        "properties": {
          "items": {
            "type": "array",
            "description": "Artifacts produced by the agent. Returns at most 100 artifacts.",
            "items": { "$ref": "#/components/schemas/Artifact" }
          }
        }
      },
      "DownloadArtifactResponse": {
        "type": "object",
        "required": ["url", "expiresAt"],
        "properties": {
          "url": { "type": "string", "format": "uri", "description": "Temporary 15-minute presigned S3 URL for downloading the artifact." },
          "expiresAt": { "type": "string", "format": "date-time", "description": "When the presigned URL expires." }
        }
      },
      "UsageTokenUsage": {
        "type": "object",
        "required": ["inputTokens", "outputTokens", "cacheWriteTokens", "cacheReadTokens", "totalTokens"],
        "properties": {
          "inputTokens": { "type": "integer", "minimum": 0 },
          "outputTokens": { "type": "integer", "minimum": 0 },
          "cacheWriteTokens": { "type": "integer", "minimum": 0 },
          "cacheReadTokens": { "type": "integer", "minimum": 0 },
          "totalTokens": { "type": "integer", "minimum": 0 }
        }
      },
      "RunUsage": {
        "type": "object",
        "required": ["id", "usage"],
        "properties": {
          "id": { "type": "string", "minLength": 1, "description": "Run identifier." },
          "usageUuid": { "type": "string", "minLength": 1, "description": "Internal usage identifier. Omitted when no recorded usage." },
          "usage": { "allOf": [{ "$ref": "#/components/schemas/UsageTokenUsage" }] }
        }
      },
      "AgentUsageResponse": {
        "type": "object",
        "required": ["totalUsage", "runs"],
        "properties": {
          "totalUsage": { "allOf": [{ "$ref": "#/components/schemas/UsageTokenUsage" }] },
          "runs": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/RunUsage" }
          }
        }
      },
      "ApiKeyInfo": {
        "type": "object",
        "required": ["apiKeyName", "createdAt"],
        "properties": {
          "apiKeyName": { "type": "string", "description": "Display name of the API key." },
          "createdAt": { "type": "string", "format": "date-time" },
          "userId": { "type": "integer", "minimum": 0, "description": "Numeric Cursor user ID. Omitted for service-account keys." },
          "userEmail": { "type": "string", "format": "email" },
          "userFirstName": { "type": "string", "minLength": 1 },
          "userLastName": { "type": "string", "minLength": 1 }
        }
      },
      "ModelListItem": {
        "type": "object",
        "required": ["id", "displayName"],
        "properties": {
          "id": { "type": "string", "minLength": 1, "description": "Pass this value as model.id when creating an agent.", "example": "composer-2" },
          "displayName": { "type": "string", "minLength": 1, "description": "Human-readable model name." },
          "description": { "type": "string", "minLength": 1 },
          "aliases": { "type": "array", "items": { "type": "string", "minLength": 1 } },
          "parameters": { "type": "array", "items": { "type": "object" } },
          "variants": { "type": "array", "items": { "type": "object" } }
        }
      },
      "ListModelsResponse": {
        "type": "object",
        "required": ["items"],
        "properties": {
          "items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ModelListItem" }
          }
        }
      },
      "Repository": {
        "type": "object",
        "required": ["url"],
        "properties": {
          "url": { "type": "string", "format": "uri", "description": "GitHub repository URL." }
        }
      },
      "ListRepositoriesResponse": {
        "type": "object",
        "required": ["items"],
        "properties": {
          "items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Repository" }
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["code", "message"],
            "properties": {
              "code": {
                "type": "string",
                "description": "Machine-readable error code. Includes: unauthorized, api_key_not_found, plan_required, role_forbidden, feature_unavailable, validation_error, agent_busy, agent_not_found, run_not_found, rate_limit_exceeded, usage_limit_exceeded, etc."
              },
              "message": { "type": "string", "description": "Human-readable error message." },
              "helpUrl": { "type": "string", "format": "uri", "description": "Optional follow-up link." }
            }
          }
        }
      }
    },
    "parameters": {
      "AgentId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Unique identifier for the agent.",
        "schema": { "type": "string", "example": "bc-00000000-0000-0000-0000-000000000001" }
      },
      "RunId": {
        "name": "runId",
        "in": "path",
        "required": true,
        "description": "Unique identifier for the run.",
        "schema": { "type": "string", "example": "run-00000000-0000-0000-0000-000000000001" }
      }
    },
    "responses": {
      "BadRequest": { "description": "Validation error or malformed request body.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "Unauthorized": { "description": "Invalid or missing API key.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "Forbidden": { "description": "Authenticated but insufficient permissions or plan required.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "NotFound": { "description": "Agent or run not found.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "Conflict": { "description": "Resource state conflict (agent_busy, agent_archived, agent_id_conflict, run_not_cancellable).", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "RateLimited": { "description": "Rate limit exceeded.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "InternalError": { "description": "Internal server error.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
    }
  },
  "paths": {
    "/v1/agents": {
      "post": {
        "operationId": "createAgent",
        "summary": "Create a Cloud Agent and enqueue its initial run",
        "description": "Creates a new Cursor cloud agent and immediately enqueues its initial run. The response returns both the durable agent and the initial run. Use this to launch a code-writing agent against a repository.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateAgentRequest" }
            }
          }
        },
        "responses": {
          "201": { "description": "Agent created and initial run enqueued.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateAgentResponse" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "get": {
        "operationId": "listAgents",
        "summary": "List Cloud Agents",
        "description": "List agents for the authenticated user, newest first. Use nextCursor for pagination. Filter by prUrl to find agents working on a specific PR.",
        "parameters": [
          { "name": "limit", "in": "query", "required": false, "description": "Number of agents to return.", "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 20 } },
          { "name": "cursor", "in": "query", "required": false, "description": "Pagination cursor from the previous response.", "schema": { "type": "string", "minLength": 1 } },
          { "name": "prUrl", "in": "query", "required": false, "description": "Filter agents by GitHub pull request URL.", "schema": { "type": "string", "format": "uri" } },
          { "name": "includeArchived", "in": "query", "required": false, "description": "Whether to include archived agents.", "schema": { "type": "boolean", "default": true } }
        ],
        "responses": {
          "200": { "description": "Agents retrieved successfully.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ListAgentsResponse" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/v1/agents/{id}": {
      "get": {
        "operationId": "getAgent",
        "summary": "Get an Agent",
        "description": "Retrieve durable metadata for an agent. Execution status lives on runs.",
        "parameters": [
          { "$ref": "#/components/parameters/AgentId" }
        ],
        "responses": {
          "200": { "description": "Agent retrieved successfully.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Agent" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "delete": {
        "operationId": "deleteAgent",
        "summary": "Delete an agent permanently",
        "description": "Permanently delete an agent. This action is irreversible. Use POST /v1/agents/{id}/archive for reversible removal.",
        "parameters": [
          { "$ref": "#/components/parameters/AgentId" }
        ],
        "responses": {
          "200": { "description": "Agent deleted successfully.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/IdResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/v1/agents/{id}/runs": {
      "post": {
        "operationId": "createRun",
        "summary": "Send a follow-up prompt to an existing agent",
        "description": "Send a follow-up prompt to an existing active agent. The new run uses the agent's current conversation and workspace state. Only one run can be active per agent at a time. Returns 409 agent_busy if another run is CREATING or RUNNING.",
        "parameters": [
          { "$ref": "#/components/parameters/AgentId" }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateRunRequest" } } }
        },
        "responses": {
          "201": { "description": "Run created and enqueued.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateRunResponse" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "get": {
        "operationId": "listRuns",
        "summary": "List runs for an agent",
        "description": "List runs for an agent, newest first.",
        "parameters": [
          { "$ref": "#/components/parameters/AgentId" },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 20 } },
          { "name": "cursor", "in": "query", "required": false, "description": "Pagination cursor.", "schema": { "type": "string", "minLength": 1 } }
        ],
        "responses": {
          "200": { "description": "Runs retrieved successfully.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ListRunsResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/v1/agents/{id}/runs/{runId}": {
      "get": {
        "operationId": "getRun",
        "summary": "Get a specific run",
        "description": "Retrieve status, timestamps, and (for terminal runs) the final result, duration, and pushed branches for a specific run.",
        "parameters": [
          { "$ref": "#/components/parameters/AgentId" },
          { "$ref": "#/components/parameters/RunId" }
        ],
        "responses": {
          "200": { "description": "Run retrieved successfully.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Run" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/v1/agents/{id}/runs/{runId}/cancel": {
      "post": {
        "operationId": "cancelRun",
        "summary": "Cancel an active run",
        "description": "Cancel a run that is CREATING or RUNNING. Cancellation is terminal. Returns 409 run_not_cancellable if the run is already terminal.",
        "parameters": [
          { "$ref": "#/components/parameters/AgentId" },
          { "$ref": "#/components/parameters/RunId" }
        ],
        "responses": {
          "200": { "description": "Run cancelled successfully.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/IdResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/v1/agents/{id}/usage": {
      "get": {
        "operationId": "getAgentUsage",
        "summary": "Get agent token usage",
        "description": "Retrieve token usage for an agent, broken down per run. Early access endpoint. Returns 403 feature_unavailable when not enabled for the account.",
        "parameters": [
          { "$ref": "#/components/parameters/AgentId" },
          { "name": "runId", "in": "query", "required": false, "description": "Scope usage to a single run. Omit for all runs.", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Usage retrieved successfully.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgentUsageResponse" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/v1/agents/{id}/archive": {
      "post": {
        "operationId": "archiveAgent",
        "summary": "Archive an agent",
        "description": "Archive an agent. Archived agents remain readable but cannot accept new runs until unarchived.",
        "parameters": [
          { "$ref": "#/components/parameters/AgentId" }
        ],
        "responses": {
          "200": { "description": "Agent archived successfully.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/IdResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/v1/agents/{id}/unarchive": {
      "post": {
        "operationId": "unarchiveAgent",
        "summary": "Unarchive an agent",
        "description": "Unarchive an agent so it can accept new runs again.",
        "parameters": [
          { "$ref": "#/components/parameters/AgentId" }
        ],
        "responses": {
          "200": { "description": "Agent unarchived successfully.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/IdResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/v1/agents/{id}/artifacts": {
      "get": {
        "operationId": "listArtifacts",
        "summary": "List artifacts produced by an agent",
        "description": "List artifacts produced by an agent. Each artifact's path is relative to the workspace's artifacts/ directory. Pass that path to GET /v1/agents/{id}/artifacts/download to obtain a presigned download URL.",
        "parameters": [
          { "$ref": "#/components/parameters/AgentId" }
        ],
        "responses": {
          "200": { "description": "Artifacts retrieved successfully.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ListArtifactsResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/v1/agents/{id}/artifacts/download": {
      "get": {
        "operationId": "downloadArtifact",
        "summary": "Get a presigned download URL for an artifact",
        "description": "Retrieve a temporary 15-minute presigned S3 URL for an artifact. The path query parameter must be a relative path under artifacts/ returned by GET /v1/agents/{id}/artifacts.",
        "parameters": [
          { "$ref": "#/components/parameters/AgentId" },
          { "name": "path", "in": "query", "required": true, "description": "Relative artifact path under artifacts/.", "schema": { "type": "string", "minLength": 1 } }
        ],
        "responses": {
          "200": { "description": "Presigned URL retrieved successfully.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DownloadArtifactResponse" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/v1/me": {
      "get": {
        "operationId": "getApiKeyInfo",
        "summary": "Get API key info",
        "description": "Retrieve information about the API key being used for authentication. Useful for verifying the connector is using the correct key.",
        "responses": {
          "200": { "description": "API key info retrieved successfully.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiKeyInfo" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/v1/models": {
      "get": {
        "operationId": "listModels",
        "summary": "List available models",
        "description": "Returns a recommended set of explicit model IDs you can pass to the model.id field on POST /v1/agents. To use the configured default model, omit the model field from the request body entirely.",
        "responses": {
          "200": { "description": "Models retrieved successfully.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ListModelsResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/v1/repositories": {
      "get": {
        "operationId": "listRepositories",
        "summary": "List GitHub repositories",
        "description": "List GitHub repositories accessible to the authenticated user through Cursor's GitHub App installation. Very strict rate limits (1 req/min, 30 req/hour per user). Cache responses aggressively.",
        "responses": {
          "200": { "description": "Repositories retrieved successfully.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ListRepositoriesResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    }
  }
}
